.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 6fr 1fr;
    /*grid-gap: 20px;*/
}

.basic-info-container {
    position: fixed;
}

nav {
    position: fixed;
}

/* .content {
    padding: 20px;
} */

img {
    width: 60%;
}